<div class="container">
    <div class="page-title">
        <h2>Transactions</h2>
    </div>
</div>

<div class="container">
    <div class="card-cont">
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
    </div>
</div>