<header class="header container">
    <h2>Portfolio</h2>
</header>

<div class=" p-images container">
    <img src="../../../assets/Frame 3.png" alt="">
    <img src="../../../assets/Frame 6.png" alt="">
</div>

<div class="buttons container">
    <button class="small-butt full">Send</button>
    <button class="small-butt">Recieve</button>
</div>

<div class="container">
    <div class="transactions">

        <h2>Transactions</h2>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
    </div>
</div>