a {
  text-decoration: none;
}

p {
  color: var(--color-drk-1);
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}