<header class="header container">
    <img src="./../../../assets/go-meta-logo.png" alt="">
    <img src="./../../../assets/avatar.png" alt="">
</header>


<div class="container">
    <div class="balance-card">
        <div class="balance">
            <span>My Wallet Balance</span>
            <h1>$503,390</h1>
        </div>
        <div class="tokens">
            <div class="token">
                <img src="./../../../assets/ada-logo.png" alt="">
                <div class="ti_ba">
                    <span class="name">$ADA</span>
                    <span class="bal">53.30</span>
                </div>
            </div>
            <div class="token">
                <img src="./../../../assets/urgo-logo.png" alt="">
                <div class="ti_ba">
                    <span class="name">$ADA</span>
                    <span class="bal">283.30</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="buttons container">
    <button class="small-butt full">Send</button>
    <button class="small-butt">Recieve</button>
</div>

<div class="container">
    <div class="transactions">

        <h2>Transactions</h2>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
        <app-txn-card></app-txn-card>
    </div>
</div>